<% page = "Shop" %>
<% include header %>

<ul id="cards" class="row cards-list">
</ul>

<script type="ejs-template" id="row-template">
  <li class="user-cards col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <img src="http://i.tcgplayer.com/82245.jpg" alt="" class="thumbnail" />
      <strong class="cards-name"> {{card_name}} </strong>
      <i class="card-set"> {{set_name}} </i>
      <span class="card-price">{{currency}}{{cost_mid}}</span>
      <div class="pull-left box-quantity">
        <input class="form-control" type="number" data-fv-integer-message="The value is not an integer" data-fv-field="number">
      </div>
      <button type="submit" class="btn btn-primary" href="#">Buy</button>
  </li>
</script>

<script type="text/javascript">

  $(function(){
    var cards = <%-JSON.stringify(cards)%>;
    var mtgDynatable = MtgDynatable("#cards", "#row-template", cards);
  });
</script>

