<% page = "Shop" %>
<% include header %>

<ul id="cards" class="row cards-list">
</ul>

<link rel="stylesheet" href="/vendor/dynatable/jquery.dynatable.css">
<script src="/vendor/jquery/jquery-1.11.3.min.js"></script>
<script src="/vendor/dynatable/jquery.dynatable.js"></script>

<script type="text/javascript">
  var cards = <%-JSON.stringify(cards)%>;

  $(function(){
    var ulWriter = function(rowIndex, data){
      var li = '<li class="user-cards col-lg-2 col-md-3 col-sm-4 col-xs-6">';
      li += '<button type="submit" class="btn btn-primary" href="#">Buy</button></li>';
      return li;
    };

    $('#cards').dynatable({
      dataset: {
        records: cards,
        features: {
            pushState: false
        },

        writers: {
          _rowWriter: ulWriter
        }
      }
    });

  });
</script>

