<% include header %>

<table id="card-table" class="table table-striped" >
  <thead>
      <th data-dynatable-column="set_name">Set</th>
      <th data-dynatable-column="card_name">Name</th>
      <th data-dynatable-column="cost_mid">Cost</th>
  </thead>
  <tbody>
  </tbody>
</table>

<link rel="stylesheet" href="/vendor/dynatable/jquery.dynatable.css">
<script src="/vendor/jquery/jquery-1.11.3.min.js"></script>
<script src="/vendor/dynatable/jquery.dynatable.js"></script>

<script type="text/javascript">
  var cards = <%-JSON.stringify(cards)%>;
  $('#card-table').dynatable({
    dataset: {
      records: cards
    },
    table: {
      defaultColumnIdStyle: 'underscore'
    },
    features: {
          pushState: false
      },
  });
</script>

<% include footer %>
