<% include header %>

<div class="alert alert-success" style="display:none" >
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <div id="message" >asdf </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Sort <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-sort="card_name">Card Name</a></li>
    <li><a href="#" data-sort="set_name">Set Name</a></li>
    <li><a href="#" data-sort="cost_mid">Card Cost</a></li>
  </ul>
</div>

<ul id="cards" class="row cards-list">
  <script type="ejs-template" id="row-template">
    <li class="user-cards col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <img src="{{image_url}}" alt="" class="thumbnail" />
      <strong class="cards-name"> {{card_name}} </strong>
      <i class="card-set"> {{set_name}} </i>
      <span class="card-price">{{currency}}{{cost_mid}}</span>
      <div class="pull-left box-quantity">
        <input class="quantity form-control" type="number" min="1" value="1">
      </div>
      <button type="submit" class="buy-button btn btn-primary" data-card-id="{{cards_id}}" role="button">Buy</button>
    </li>
  </script>
</ul>

<script type="text/javascript">

  $(function(){
    var success = function(){
      $("#message").text("Successfully purchased card.");
      $(".alert").show();
    };

    var error = function(){
      $("#message").text("Failure!");
      $(".alert").show();
    };

    var cards = <%-JSON.stringify(cards)%>;
    var mtgDynatable = MtgDynatable("#cards", "#row-template", cards);
    mtgDynatable.sort("card_name");

    $('.dropdown-menu li > a').click( function (e) {
      mtgDynatable.sort($(this).data("sort"));
      $('.status').text(this.innerHTML);
    })


    $('.buy-button').click(function(){
      var quantity = $(this).parent().find(".quantity").val();
      var card_id = $(this).data('card-id');
      var user_id = <%-user.user_id%>;

      portfolio.buy({user_id: user_id, card_id: card_id, quantity: quantity}, success, error);
    });
  });
</script>


<% include footer %>
