<% include header %>

   <ul>
   <% for(var i=0; i<cards.length; i++) {%>
      <li>
       name: <%-cards[i].card_name %> <br/>
       cost: <%-cards[i].cost_mid %> <br/>
      </li>
      <br/>
   <% } %>
   </ul>

<% include footer %>
