<% page = "Shop" %>
<% include header %>

<ul id="cards" class="row cards-list">
</ul>

<script type="ejs-template" id="row-template">
  <li class="user-cards col-lg-2 col-md-3 col-sm-4 col-xs-6">
      <img src="http://i.tcgplayer.com/82245.jpg" alt="" class="thumbnail" />
      <strong class="cards-name"><#-data.card_name#></strong>
      <i class="card-set"><#-data.set_name#></i>
      <span class="card-price">$$$$</span>
      <div class="pull-left box-quantity">
        <input class="form-control" type="number" data-fv-integer-message="The value is not an integer" data-fv-field="number">
      </div>
      <button type="submit" class="btn btn-primary" href="#">Buy</button>
  </li>
</script>



<link rel="stylesheet" href="/vendor/dynatable/jquery.dynatable.css">
<script src="/vendor/jquery/jquery-1.11.3.min.js"></script>
<script src="/vendor/dynatable/jquery.dynatable.js"></script>
<script src="/vendor/ejs/ejs.min.js"></script>

<script type="text/javascript">
  var cards = <%-JSON.stringify(cards)%>;

  $(function(){
    ejs.open = '<#';
    ejs.close = '#>';
    var ulTemplate = ejs.compile($("#row-template").text());

    var ulWriter2 = function(rowIndex, data){
      return '<li><button type="submit" class="btn btn-primary" href="#">Buy</button></li>';
    };
    var ulWriter = function(rowIndex, data){
      return ulTemplate(data, {open: '<#-', close: '#>'});
    };

    var dynatable = $('#cards').dynatable({
      table: {
        bodyRowSelector: 'li'
      },
      dataset: {
        records: cards,
        perPageDefault: 100,
        perPageOptions: [100, 500, 1000]
      },
      features: {
          pushState: false,
          sort: false
      },
      writers: {
          _rowWriter: ulWriter
      }
    }).data('dynatable');

  });
</script>

