<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/dynatable/jquery.dynatable.css">
  <link rel="stylesheet" href="/vendor/dc/dc.css">

  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>

  <script src="/vendor/jquery/jquery-1.11.3.min.js"></script>
  <script src="/vendor/dynatable/jquery.dynatable.js"></script>
  <script src="/vendor/underscore.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/d3/d3.min.js"></script>
  <script src="/vendor/crossfilter.min.js"></script>
  <script src="/vendor/dc/dc.min.js"></script>
  <script src="/js/mtgDynatable.js"></script>
  <script src="/js/portfolio.js"></script>

</head>

<body>

<div class="clearfix"></div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">MTG</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li<% if (title === 'Shop') { %> class="active"<% } %>><a href="/cards">Shop</a></li>
        <li<% if (title === 'Portfolio') { %> class="active"<% } %>><a href="/user">Portfolio</a></li>
        <li<% if (title === 'History') { %> class="active"<% } %>><a href="/history">History</a></li>
        <li<% if (title === 'Leaderboard') { %> class="active"<% } %>><a href="/leaders">Leaderboard</a></li>
        <li class="divider"></li>
      </ul>
      <% if ( user ) { %>
      <ul class="user-info">
        <li><strong>Welcome <%-user.username%></strong></li>
        <li><strong>Your Balance:</strong> <%-money(user.balance)%></li>
        <li><strong>Your Net Worth:</strong> <%-money(user.balance + user.card_balance) %></li>
        <li><% include netWorthGraph %></li>
      </ul>
      <% } else { %>
      <ul class="user-info">
        <li><a href="#">Login</a></li>
      </ul>
      <% } %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

