<% headerClass="full"; %>
<% include header %>
<div class="page-header no-border">
  <h1>Magic The Gathering - Stock Simulator</h1>
</div>




<div class="jumbotron signup-cta">

  <% include mailchimp.ejs %>

</div>

<% include footer %>
