<% headerClass="full"; %>
<% include header %>
<div class="page-header no-border">
  <h1>Magic The Gathering - Stock Simulator</h1>
</div>




  <ul class="list-group signup-cta">
    <li class="list-group-item">Start with $100 (virtually)</li>
    <li class="list-group-item">Buy and Sell Virtual Magic Cards</li>
    <li class="list-group-item">Track Your Progress</li>
    <li class="list-group-item">See how you stack up on the leaderboard</li>
  </ul>
  <input type="submit" value="Sign Up Now" class="center-block btn btn-success btn-lg">

<% include footer %>
