<% headerClass="full"; %>
<% include header %>
<div class="page-header no-border">
  <h1>Magic The Gathering - Stock Simulator</h1>
</div>




<div class="jumbotron signup-cta">
  <p>Get $100 in virtual cash and start trading magic cards.</p>
  <input type="submit" value="Get Started Now!" class="center-block btn btn-success btn-lg">
</div>

<% include footer %>
