<% page = "Leaderboard" %>
<% include header %>
<h1>Leaderboard</h1>
<p>What is your standing and who are at the top.</p>

<ul>
  <% for(var i=0; i<leaderList.length; i++) {
    var leader = leaderList[i];
  %>
  <li>
    name: <%-leader.username %> <br/>
    cost: <%-leader.balance %> <br/>
  </li>
  <% } %>
</ul>

<% include footer %>
