<% page = "Leaderboard" %>
<% include header %>
<h1>Leaderboard</h1>
<p>What is your standing and who are at the top.</p>

<% if (leaderList.length == 0) { %>

<% } else { %>

<ul class="row leaderList-list">

</ul>

<% }  %>

<% include footer %>
