<% include header %>
<h1>Profile</h1>
<p>Your current portfolio consists of the following cards.</p>
<div class="row">
  <% for(var i=0; i<user.cards.length; i++) {
  var card =  user.cards[i];%>

  <div class="col-sm-4 col-md-3 user-cards">
    <div class="thumbnail">
      <img src="http://i.tcgplayer.com/82245.jpg" alt="<%-card.cardname%>">
    </div>
    <div class="caption">
      <p><strong>You have <%-card.quantity%> cards</strong><br />
      Each will sell for: $0.32</p>
      
      <h4>How many would you like to sell?</h4>
        <div class="pull-left box-quantity">
          <input class="form-control" type="number" data-fv-integer-message="The value is not an integer" data-fv-field="number">
        </div>
          <a href="#" class="btn btn-primary" role="button">
            Sell Cards
          </a>
    
    </div>
  </div>

  <% } %>
</div>

<% include footer %>
