<% include header %>
  <table>
    <tr>
    <td>User Id: </td><td>&nbsp;</td><td> DFonte</td>
    </tr><tr>
    <td>Current Balance:</td><td>&nbsp;</td><td>$22.31</td>
    </tr><tr>
    <td>Net Worth</td><td>&nbsp;</td><td> $402.33</td>
    </tr>
  </table>

  <div class="individualCard" id="cardBGround">
    <a><img src="http://i.tcgplayer.com/82245.jpg"></a>
    <span id="cardAttribute">Quantity: </span>
    <span id="cardAttribute">Current Price:</span>
    <span id="cardAttribute">Sell [1]</span>
  </div>
<% include footer %>
