<% include header %>
  <table>
    <tr>
    <td>User Id: </td><td>&nbsp;</td><td>  <%-user.username%></td>
    </tr><tr>
    <td>Current Balance:</td><td>&nbsp;</td><td>$<%-user.balance%></td>
    </tr><tr>
    <td>Net Worth</td><td>&nbsp;</td><td> $402.33</td>
    </tr>
  </table>


  <% for(var i=0; i<user.cards.length; i++) {
  var card =  user.cards[i];%>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="http://i.tcgplayer.com/82245.jpg"
           alt="<%-card.cardname%>">
    </div>
    <div class="caption">
      <h3>Quantity: <%-card.quantity%></h3>
      <p>This sells for: $0.32</p>
      <p>
      <a href="#" class="btn btn-primary" role="button">
        Sell
      </a>
      </p>
    </div>
  </div>
  <% } %>

<% include footer %>
