body {
  padding: 0 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent ;
}
.home {
  background: url('/images/coverpage.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#webTicker {
  list-style-type: none;
  width: 600px;
}
.home h1, .home p{
  color: white;
}
.no-border {
  border: none;
}
.signup-cta{
  background-color: black;
  margin-top: 300px;
  width: 500px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

a {
  'color: #00B7FF;'
}
.user-info {
  margin: 0;
  padding: 5px;
  float: right;
}

.user-info li {
	margin: 0;
	padding: 0 5px;
	list-style: none;
	display: inline;
}
.user-info li:first-child {
	border: 0;
}
.box-quantity {
	width: 75px;
	margin-right: 10px;
}
.user-cards {
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #eaeaea;
}
.cards-list {
	list-style: none;
	padding: 0;
  clear: both;
}
.cards-list .thumbnail {
    max-width: 200px;
    width: 100%;
}
.card-name {
    color: #000;
    display: block;
    font-size: 110%;
}
.card-set {
    color: rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 90%;
    padding-bottom: 10px;
}
.card-price {
    display: block;
}

#line-chart {
  display: inline-block;

}

#line-chart .axis {
  display:none;
}

div.dc-chart {
  float: none  !important;
  vertical-align: middle;
}


.arrowneg {
  color: red;
}

.arrowpos {
  color: green;
}


.tickercontainer{width:100%;height:27px;margin:-10px 0px 0px 0px;padding:0;overflow:hidden}
.tickercontainer .mask{position:relative;height:21px;overflow:hidden}
ul.newsticker{  transition-timing-function: linear; position:relative;font:bold 10px Verdana;list-style-type:none;margin:0;padding:0}
ul.newsticker li{float:left;margin:0;padding-right:25px}
ul.newsticker li a{vertical-align:middle;line-height:21px}
